@use "variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;

  &__logo {
    font-size: 35px;
    color: orangered;
  }

  &__menu {
    // nav
    &-list {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      list-style: none;
    }

    &-link {
      color: variables.$color-primary;
      font-weight: 500;
      position: relative;

      &::before {
        display: block;
        content: "";
        width: 0;
        height: 2px;
        background-color: variables.$color-primary;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s linear;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}
