@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");

$primary-font-family: "Poppins", sans-serif;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$background-main: #151518;
$color-primary: #f4f0f0;
